LM/Tema4/personall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:all>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="email" type="xs:string" />
                <xs:element name="edad" type="xs:integer" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>