LM/1.2/Tema4/login.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="login">
        <xs:complexType>
            <xs:choice>
                <xs:element name="username" type="xs:string" />
                <xs:element name="email" type="xs:string" />
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>